node_modules/
.env
src/config/firebaseConfig.js
src/components/Testers/talksfromtheheartbeta-firebase-adminsdk-fbsvc-e0bbd8598c.json
scripts/Testers/talksfromtheheartbeta-firebase-adminsdk-fbsvc-e0bbd8598c.json
